<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="utf-8">
        <title>Config</title>
        <!--Bootstrap CSS -->
        <!--CDN-->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" onload="window.bs4css= 1;">
        <!--fallback by Flask-->
        <script>
            window.bs4css || document.write(
                "<link rel=\"stylesheet\" href=\"{{ url_for('static', filename='bootstrap-4.4.1-dist/css/bootstrap.min.css') }}\"\
    crossorigin=\"anonymous\">");
        </script>
        <!--/Bootstrap CSS -->
    </head>

    <body>
        <div class="m-2">
            <form method="post" enctype="multipart/form-data" style="display:inline;" onsubmit="onsubmit_rewritevalue_fbtoken();">
                <h1 style="color:#001900;font-family:serif">Flask Config</h1>
                <h5 style="color:red;font-family:'';">=Please use freely at your own risk=</h5>

                <table class="table table-sm table-bordered mt-2 table-success" style="color: navy;background-color: lightgreen;">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="2">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width:20%;">DB:GCS</td>
                            <td>{{STATUS_GCS}}</td>
                        </tr>
                        <tr>
                            <td>Directory_DB</td>
                            <td>
                                <input type="text" name="status_GCS" value="{{DIR_DB}}" class="form-control form-control-sm">
                            </td>
                        </tr>
                        <tr>
                            <td>GCS:bucket</td>
                            <td>
                                <input type="text" name="GCS_bucket" value="{{GCS_BUCKET}}" class="form-control form-control-sm">
                            </td>
                        </tr>
                        <tr>
                            <td>GCS:bucket→blob</td>
                            <td>
                                <input type="text" name="GCS_blob" value="{{GCS_BLOB}}" class="form-control form-control-sm">
                            </td>
                        </tr>
                        <tr>
                            <td>Directory_GCP_Key</td>
                            <td>
                                <input type="text" name="dir_gcp_key" value="{{DIR_GCP_KEY}}" class="form-control form-control-sm">
                            </td>
                        </tr>
                        <tr>
                            <td>COUNTER_M</td>
                            <td>{{COUNTER_M}}</td>
                        </tr>
                        <tr>
                            <td>Firebase_Token</td>
                            <td>{{FBTOKEN}}</td>
                        </tr>
                    </tbody>
                </table>

                <button name="gcs_upload" value="True" class="btn btn-danger m-1">GCS_UPLOAD</button>
                <button name="gcs_download" value="True" class="btn btn-primary m-1">GCS_DOWNLOAD</button>
                <button name="gcs_client_reload" value="True" class="btn btn-secondary m-1">GCS_CLIENT_LEROAD</button>

                <br><a class="btn btn-outline-success mt-2" href="./">Flask_Indexへ</a>


                <div class="m-2 p-2" style="color:#AAFEFE;border:3px double silver;background:#001111;">
                    <h5 style="color:red;font-family:''">Firebaseの機能の実験</h5>
                    <input type="button" value="bauth" class="btn btn-success" onclick="auth_disp();" />
                    <input type="button" value="gauth" class="btn btn-success" onclick="auth_google();" />
                    <input type="button" value="nauth" class="btn btn-success" onclick="firebase.auth().signInAnonymously();" />
                    <input type="button" value="logout" class="btn btn-success" onclick="firebase.auth().signOut();" />
                    <input type="hidden" id="fbtoken" name="fbtoken" value="{{FBTOKEN}}">
                    <p id="authdoc">
                        (´・ω・｀) ～ボェェェ　なんかぼたんおしてねェェェ</p>
                </div>
            </form>
        </div>

        <!--Firebase -->
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>
        <!--<script src="/__/firebase/init.js"></script>
    ↑ deploy on Firebase only  ↓ deploy on any platform-->
        <script>
            firebase.initializeApp({
                apiKey: "AIzaSyCWzFat3oUpn_4TtOpDCMhcOD2Qf4u1Mr4",
                authDomain: "crack-atlas-251509.firebaseapp.com",
                databaseURL: "https://crack-atlas-251509.firebaseio.com",
                projectId: "crack-atlas-251509",
                storageBucket: "crack-atlas-251509.appspot.com",
                messagingSenderId: "646437940818",
                appId: "1:646437940818:web:a8f1315a41787cdfd3b98b",
                measurementId: "G-JFF7YXX3B1"
            });
            firebase.analytics();

            function auth_disp() {
                firebase.auth().onAuthStateChanged(function(user) {
                    if (user) {
                        // User is signed in.
                        var displayName = user.displayName;
                        var email = user.email;
                        var emailVerified = user.emailVerified;
                        var photoURL = user.photoURL;
                        var isAnonymous = user.isAnonymous;
                        var uid = user.uid;
                        var providerData = user.providerData;
                        // ...
                        document.getElementById("authdoc").innerHTML = displayName + "<br>" + email + "<br>" +
                            emailVerified + "<br>" + photoURL + "<br>" +
                            isAnonymous + "<br>" + uid + "<br>" + providerData;
                    } else {
                        document.getElementById("authdoc").innerHTML = "(´･ｪ･｀)～鰓ってるよぉぉぉ"
                    }
                });
            }

            function auth_google() {
                var provider = new firebase.auth.GoogleAuthProvider();
                firebase.auth().signInWithPopup(provider).then(function(result) {}).catch(function(error) {});
            }

            function onsubmit_rewritevalue_fbtoken() {
                /*
                                const a = firebase.auth().currentUser.getIdToken(true);
                                document.getElementById("fbtoken").value = a*/
                firebase.auth().currentUser.getIdToken(true).then(function(idToken) {
                    document.getElementById("fbtoken").value = idToken[0]
                })
            }
        </script>
        <!--Firebase -->

        <!--Bootstrap and jQuery JS -->
        <!--CDN-->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
        <!--fallback by Flask-->
        <script>
            window.jQuery || document.write(
                "<script src=\"{{ url_for('static', filename='bootstrap-4.4.1-dist/js/jquery-3.4.1.min.js') }}\"\
        crossorigin=\"anonymous\"><\/script>")
        </script>
        <script>
            $.fn.modal || document.write(
                "<script src=\"{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js') }}\"\
    crossorigin=\"anonymous\"><\/script>")
        </script>
        <!--/Bootstrap and jQuery JS -->
    </body>

</html>