<!DOCTYPE html>
<html lang="ja">
<meta charset="utf-8">

<head>
    <title>Flaskなお部屋</title>
    <link rel=stylesheet href="index.css">
</head>

<body>
    <h1>
        Flask_Index
    </h1>
    <h3>
        Apache2+WSGI+Flask
    </h3>
    <p>
        {{used_python}}
    </p>
    <p>
        {{used_flask}}
    </p>
    <p>
        Under_Construction
    </p>
    
    <li><a class="contents_link" href="./22.py">Flaskな実験場へ</a></li>
    <li><a class="contents_link" href="./fud.py">Flaskなふぁぃるさぁばぁへ</a></li>
    <li><a class="contents_link" href="/">戻る</a></li>
</body>
