<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Janome doe</title>

    <!--Bootstrap CSS -->
    <!--CDN-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"
        onload="window.bs4css= 1;">
    <!--fallback by Flask-->
    <script>window.bs4css || document.write(
            "<link rel=\"stylesheet\" href=\"{{ url_for('static', filename='bootstrap-4.4.1-dist/css/bootstrap.min.css') }}\"\
    crossorigin=\"anonymous\">");
    </script>
    <!--/Bootstrap CSS -->

</head>

<body>
    <h2 style="color:black;font-family:serif;">Janome doe</h2>
    <h5 style="color:red;font-family:'';">=Please use freely at your own risk=</h5>

    <form method="post" enctype="multipart/form-data">
        <nav>
            <div class="navbar navbar-default p-0 m-0 form-inline">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab"
                        aria-controls="nav-1" aria-selected="true">Front</a>
                    <a class="nav-item nav-link active" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab"
                        aria-controls="nav-2" aria-selected="false">How_to_use</a>
                </div>
            </div>
            <div class="tab-content alert-info m-0" id="nav-tabContent">
                <div class="tab-pane fade" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
                    工事中です
                </div>
                <div class="tab-pane fade show active" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                    工事中です
                </div>
            </div>
        </nav>

        <div class="form-group m-2">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="text"></textarea>
        </div>
        <button name="submit" value="True" class="btn btn-outline-success mr-1">submit</button>
    </form>
    <p><a class="contents_link" href="./">Flask_Indexへ</a></p>

    <!--Bootstrap and jQuery JS -->
    <!--CDN-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
        crossorigin="anonymous"></script>
    <!--fallback by Flask-->
    <script>window.jQuery || document.write(
            "<script src=\"{{ url_for('static', filename='bootstrap-4.4.1-dist/js/jquery-3.4.1.min.js') }}\"\
        crossorigin=\"anonymous\"><\/script>")</script>
    <script>$.fn.modal || document.write(
            "<script src=\"{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js') }}\"\
    crossorigin=\"anonymous\"><\/script>")</script>
    <!--/Bootstrap and jQuery JS -->
</body>

</html>